@import "../../sass/variables";

.card {
    background-color: $white;
    border-radius: $radius !important;
    box-shadow: $shadow;
    padding: $space-03;
    border: none !important;
}

.card.card-darkMode {
    background-color: $dark;
    box-shadow: $dark--shadow;
}
