@import "../../sass/variables";

.button {
    // min-width: 100px;

    width: max-content;
    background-color: $primary;
    padding: 5px 25px;
    border-radius: $radius;
    transition: $transition;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $alt-text-color;
    svg, path { color: $alt-text-color; margin-left: 3px; }

    &:hover {
        background-color: darken($primary, 10%);
    }

    &-ghost {
        background-color: transparent;
        color: $primary;
        svg, path { color: $primary; }
        &:hover {
            background-color: $light;
        }
    }
    &-faded {
        background-color: $light;
        color: $primary;
        svg, path { color: $primary; }
        &:hover {
            background-color: darken($light, 10%);
        }
    }

    &-full {
        width: 100%;
    }


    // ----- DARK MODE -----
    &-darkMode {
        background-color: $dark--primary;
        color: $white;
        svg, path { color: $dark--primary; }
        &:hover {
            background-color: darken($dark--primary, 10%);
        }

        &-ghost {
            background-color: transparent;
            color: $dark--primary;
            svg, path { color: $dark--primary; }
            &:hover {
                background-color: $dark--bg;
            }
        }
        &-faded {
            background-color: $dark--bg;
            color: $dark--primary;
            svg, path { color: $dark--primary; }
            &:hover {
                background-color: darken($dark--bg, 10%);
            }
        }
    }
}
