@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Work+Sans:wght@100;300;400;600&display=swap');
$themed-font: 'Caveat', cursive;
$primary-font: 'Work Sans', sans-serif;

$text-color: black;
$light: #f1f2f5;
$white: #fff;

$shadow-color: #dedfe2;
$shadow: 5px 5px 5px $shadow-color;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light;
    font-family: $primary-font;
}

.max-vh {
    height: 100vh;
}

.main-content {
    height: calc(100% - 60px);
    margin: 30px;
}

.side-menu {
    height: calc(100% - 60px);
    border-radius: 15px;
    background: #fff;
    padding: 30px;
    position: relative;
    margin: 30px;
}
.side-menu,
.side-menu::before,
.side-menu::after {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #bbb;
    border-radius: 15px;
}
.side-menu::before,
.side-menu::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee;
}
.side-menu::before {
    right: 15px;
    top: 0px;
    transform: rotate(-2deg);
    z-index: -1;
}
.side-menu::after {
    top: 20px;
    right: -10px;
    transform: rotate(1.5deg);
    z-index: -2;
    height: 98%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $themed-font;
}

.themed-underline {
    border-bottom: 1px solid black;
    position: relative;
}
.themed-underline::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 100%;
    border-bottom: 1px solid black;
    transform: rotate(0.5deg);
    z-index: 1;
}
.themed-underline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    border-bottom: 1px solid black;
    transform: rotate(-0.3deg);
}