@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Work+Sans:wght@100;300;400;600&display=swap');
$themed-font: 'Caveat', cursive;
$primary-font: 'Work Sans', sans-serif;

$text-color: #787b7f;
$secondary: #787b7f;
$light: #f1f2f5;
$white: #fff;
$primary: #004288;

$border-color: #bcc0c3;
$shadow-color: rgba(17, 38, 53, 0.25);
$shadow: 3px 3px 5px $shadow-color;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light;
    color: $text-color;
    font-weight: 300;
    // font-family: $primary-font;
}

.max-vh {
    height: 100vh;
}

.main-content {
    height: calc(100% - 60px);
    margin: 30px;
    overflow: hidden;
    .scrollable-content,
    .scrollable-content.collapsed {
        overflow: auto;
    }
    .scrollable-content {
        height: calc(100vh - 390px);
    }
    .scrollable-content.collapsed {
        height: calc(100vh - 205px);
    }
}

.collapse-btn:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: .2s;
}

.side-menu {
    height: calc(100% - 60px);
    border-radius: 15px;
    background: #fff;
    padding: 30px;
    position: relative;
    margin: 30px;
}
.side-menu,
.side-menu::before,
.side-menu::after {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #bbb;
    border-radius: 15px;
}
.side-menu::before,
.side-menu::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee;
}
.side-menu::before {
    right: 15px;
    top: 0px;
    transform: rotate(-2deg);
    z-index: -1;
}
.side-menu::after {
    top: 20px;
    right: -10px;
    transform: rotate(1.5deg);
    z-index: -2;
    height: 98%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $themed-font;
    color: $primary;
    text-shadow: 1px 1px $shadow-color;
}

.themed-underline {
    border-bottom: 1px solid $text-color;
    position: relative;
}
.themed-underline::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    width: 100%;
    border-bottom: 1px solid $primary;
    transform: rotate(0.5deg);
    z-index: 1;
}
.themed-underline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    border-bottom: 1px solid $text-color;
    transform: rotate(-0.3deg);
}

.card {
    background-color: $white;
    min-height: 10px;
    border: none;
    // border: 2px solid red !important;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    margin-bottom: 15px;
}

textarea:focus, button:focus, input:focus {
    box-shadow: none !important;
}

textarea, input {
    background-color: $light !important;
    border: none !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
input {
    border-radius: 15px !important;
}
.form-label {
    margin: 0px 0px 3px 5%;
}

.form-btn {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

button {
    border-radius: 15px !important;
}

.btn-white {
    color: $primary;
}
.btn-white:hover {
    background-color: $light;
    color: $primary;
}

.date-header {
    opacity: .7;
}

.entry-header {
    .form-label {
        margin: 0px !important;
    }
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
    align-items: center;
}

.entry-header.collapsed {
    border: none;
}

.entry-content {
    color: #4a4c4e;
}

.entry-content.collapsed {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.border-bottom {
    border-color: $border-color;
}

.collapsed-new-input {
    width: 70%;
    position: relative;
}
.input-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.card-btn {
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.card-btn:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.dropdown-card-btn {
    padding: 0px;
}
.dropdown-card-btn.dropdown-toggle::after {
    content: none;
}

// .tooltip {
//     .tooltip-inner,
//     {
//         background-color: red !important;
//     }
//     .arrow {
//         color: red !important;
//     }
// }