@import "../../sass/variables";

.line-graph {
    width: max-content;

    &-title {
        color: $primary;
        font-size: $text-02;
        text-align: center;
    }
    &-key {
        svg, path {color: inherit;}
    }
}

.line-graph.line-graph-darkMode {
    .line-graph-title {
        color: $dark--primary;
    }
}
